---
layout: default
---
<div class="post">
  <header class="post-header" style="display: flex; align-items: baseline; justify-content: space-between;">
    <h1 class="post-title">{{ page.title }}</h1>
    {% if page.cv_pdf %}
    <a href="{{ page.cv_pdf | prepend: 'assets/pdf/' | relative_url}}" target="_blank" rel="noopener noreferrer" style="font-size: 1.5rem;"><i class="fas fa-file-pdf"></i></a>
    {% endif %}
  </header>
  <article>
    {% if page.cv_pdf %}
    <object data="{{ page.cv_pdf | prepend: 'assets/pdf/' | relative_url}}#pagemode=none" type="application/pdf" width="100%" style="height: 80vh;">
      <p>Unable to display PDF. <a href="{{ page.cv_pdf | prepend: 'assets/pdf/' | relative_url}}">Download</a> instead.</p>
    </object>
    {% endif %}
  </article>
</div>
