---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}
      {% if page.cv_pdf %}
      <a href="{{ page.cv_pdf | prepend: 'assets/pdf/' | relative_url}}" target="_blank" rel="noopener noreferrer" class="float-right"><i class="fas fa-file-pdf"></i></a>
      {% endif %}
    </h1>
  </header>
  <article>
    {% if page.cv_pdf %}
    <object data="{{ page.cv_pdf | prepend: 'assets/pdf/' | relative_url}}#pagemode=none" type="application/pdf" width="100%" style="height: 80vh;">
      <p>Unable to display PDF. <a href="{{ page.cv_pdf | prepend: 'assets/pdf/' | relative_url}}">Download</a> instead.</p>
    </object>
    {% endif %}
  </article>
</div>
